@font-face {
  font-family: "Eras Medium ITC";
  src: url('../fonts/ERASMD.TTF');
}
@font-face {
  font-family: "Tw Cen MT";
  src: url('../fonts/twcenmt.TTF');
}
body{
	margin: 0 !important;
	width: 100%;
	height: 100vh;
}
.subject_page_container{
	display: flex;
	flex-direction: column;
	height: 100%;
	width:100%;
	background: rgb(61,84,40);
	min-height: 100vh;
}

.subject_title{
	width:100%;
	text-align:center;
	height:25%;
	color:rgb(0,60,40);
	font-family: 'Eras Medium ITC';
	font-size: 25px;
}

.part1{
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.part2{
	flex-grow: 2;
	width: 100%;
	flex-direction: row;
	display: flex;
}

.card{
	width: 50%;
	display: flex;
  	flex-direction: column;
	justify-content: center;
	margin: 3px;
	background-color: #fff;
	border-color: rgb(208, 206, 206);
	flex-grow: 1;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 8px 0px;
	box-sizing: border-box;
}

.left-top{
	border-bottom-right-radius: 7px;
	margin-left: 0px;
	margin-top: 0px;
}

.left-bottom{
	border-top-right-radius: 7px;
	margin-left: 0px;
	margin-bottom: 0px;
}


.right-top{
	border-bottom-left-radius: 7px;
	margin-right: 0px;
	margin-top: 0px;
}

.right-bottom{
	border-top-left-radius: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
}


.subject__image{
	width:80px;
	height: auto;
	margin: 0 auto;
}
.subject__title{
	font-family: 'Tw Cen MT';
	padding: 0 25px;
	text-align: center;
	font-size: 15px !important;
	min-height: 48px;
}
/*.subject_1{
	color: rgb(103,156,215);
}
.subject_2{
	color: rgb(156,215,103);
}
.subject_3{
	color: rgb(242, 146, 130);
}
.subject_4{
	color: rgb(255,151,87);
}*/
.subject_1{
	color: rgb(255,151,57) !important;
}

.subject_2{
	color: rgb(156,215,103) !important;
}

.subject_3{
	color: rgb(255,102,99) !important;
}

.subject_4{
	color: rgb(202,181,112) !important;
}