@font-face {
  font-family: "Eras Medium ITC";
  src: url('../fonts/ERASMD.TTF');
}

@font-face {
  font-family: "Tw Cen MT";
  src: url('../fonts/twcenmt.TTF');
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFF;
    /*background-image:linear-gradient(top, #FFF 0%, #FFF 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'Eras Medium ITC', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.page1{
  font-family: 'Eras Medium ITC' !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgb(118,167,220);
  position: absolute;
}

.page2{
  font-family: 'Eras Medium ITC' !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(255,187,51);
  position: absolute;
}


.page3{
  font-family: 'TW Cen MT' !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


.part1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0,43,75);
  width: 100%;
  min-height: 40%;
}

.part2{
  display: flex;
  /*flex-grow: 2;*/
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255,249,242);
  padding: 25px;
}

.part2.ppage2,
.part1.ppage2{
  padding: 10px;
  width: auto !important;
  background-color: transparent !important;
  justify-content: flex-start;
  height: auto !important;
  min-height: 225px;
}

.cards {
  font-family: 'Tw Cen MT', sans-serif !important;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card{
  font-family: 'Eras Medium ITC';
  flex-grow: 1;
  padding: 10px;
  color: white;
  display: flex;
    flex-direction: column;
  justify-content: center;
  border-color: rgb(208, 206, 206);
  height: 100%;
  margin: 0 25px;
  box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
  box-sizing: border-box;
  border-radius: 3px;
}

/*.subject_1{
  color: rgb(255,151,87);
},,
.subject_2{
  color: rgb(156,215,103);
}
.subject_3{
  color: rgb(242, 146, 130);
}
.subject_4{
  color: rgb(255,151,87);
}*/

.subject_1{
  color: rgb(255,151,57) !important;
}

.subject_2{
  color: rgb(156,215,103) !important;
}

.subject_3{
  color: rgb(255,102,99) !important;
}

.subject_4{
  color: rgb(202,181,112) !important;
}

.onerounded-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px 0px;
  background-color: #fff;
  border-color: rgb(208, 206, 206);
  /*border-top-left-radius: 50px;*/
  border-radius: 8px;
  width: 100%;
  height:60px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px !important;
  box-sizing: border-box;
}

.onerounded-card.ppage2{
  border-radius: 5px !important;
  background-color: rgb(255,187,51) !important;
  flex-direction: column;
  padding: 15px 35px;
  height: auto !important;
  min-height: 100px;
  margin: 0 auto !important;
  /*box-shadow: rgba(208,206,206) 0px 0px 8px 0px;*/
}

.subject_image{
  text-align: left;
  width: 75px;
  margin: 15px auto;
}

.subject_name{
  /*color: rgb(118,167,220);*/
  max-width:280px;
  width: 280px;
  text-align: left;
  font-weight: bold;
  margin: 0 auto;
  /*padding: 0 50px;*/
}

.subject_name.ppage2{
  color: rgb(77,51,3) !important;
}

.subject_name.ppage3{
  color: #fff !important;
  margin: 0 !important;
  text-align: left;
  font-size: 11px;
}

.chapter_name{
  color: #fff;
  font-size: 18px;
  text-align: left;
  width: 280px;
  max-width: 280px;
  margin: 10px auto;
}

.chapter_name.ppage3{
  width: 75% !important;
  margin: 0 !important;
}
.chapter_number.ppage3{
  width: 25% !important;
  margin: 0 !important;
  text-align: right;
  font-size: 12px;
  line-height: 23px;
}

.chapter_name.ppage2{
  text-align: center !important;
}

.chapter_number{
  color: #fff;
  text-align: left;
  max-width:280px;
  width: 280px;
  margin:0 auto;
}

.card__details{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: 2;
  height: 100%;
  padding: 5px 10px;
}

.card__title{
  font-family: 'Eras Medium ITC';
  height: 60px;
  line-height: 40px;
  font-size: 17px;
  text-align: right;
  width: 100%;
}

.card__count{
  font-family: 'Eras Medium ITC';
  height: 60px;
  line-height: 40px;
  font-size: 17px;
  text-align: left;
  width: 50px;
}

.videos-card{
  color: rgb(248,174,38) !important;
}

.videos-title{
  /*border-bottom: 1px solid rgb(248,174,38) !important;*/
}

.calculators-card{
  color: rgb(91,146,50) !important;
}

.calculators-title{
  /*border-bottom: 1px solid rgb(91,146,50) !important;*/
}

.theory-card{
  color: rgb(47,83,115) !important;
}

.theory-title{
  /*border-bottom: 1px solid rgb(47,83,115) !important;*/
}

.tests-card{
  color: rgb(89,7,21) !important;
}

.tests-title{
  /*border-bottom: 1px solid rgb(89,7,21) !important;*/
}

.questions-card{
  color: rgb(151,79,118) !important;
}

.questions-title{
  /*border-bottom: 1px solid rgb(151,79,118) !important;*/
}

.card__icon{
  width:35px;
  height:35px;
  margin: 7px;
}

.interactive__videos{
  width: 100%;
  height: auto;
  /*padding: 5px 0px;*/
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}

.videos__thumbnail{
  height: 88px !important;
  width: 110px !important;
  min-width: 110px !important;
  background: white !important;
  padding: 7px !important;
  border-radius: 5px !important;
  box-shadow: rgb(208,206,206) 0px 0px 8px 0px;
  margin:  0 !important;
}

.videos__details{
  height: 88px !important;
  width: auto !important;
  flex-grow: 2;
  background: white !important;
  padding: 7px !important;
  border-radius: 5px !important;
  margin: 0 0 0 7px !important;
  display: flex;
  padding: 15px 12px 12px 12px !important;
  flex-direction: column;
  box-shadow: rgb(208,206,206) 0px 0px 8px 0px;
}

.videos__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Eras Medium ITC';
  color: rgb(77,51,3);
  font-size: 15px;
  height: 70px;
  font-weight: bold;
  text-align: left;
}

.videos__subdetails{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 11px;
  color: rgb(77,51,3);
  line-height: 33px;
  font-family: 'Eras Medium ITC';
}

.page3-part2{
  display: flex;
  flex-direction: column;
  background-color: rgb(6,152,212);
  padding: 10px 25px;
}

.videos_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -5px;
}

.videos_title{
  margin: 10px 0px;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0,112, 162);
  color: #fff;
  padding: 7px;
  border-radius: 30px;
  height: 30px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page3-part3{
  position: absolute;
  bottom: -75px;
  width: 100%;
  height: 140px;
}

.page3-part3.open{
  bottom: 0;
}

.bottom-row{
  background: rgb(8,22,38);
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next_video_title{
  font-family: 'TW Cen MT';
  font-size: 11px;
  color: rgb(0,112, 162);
  line-height: 22px;
  width: 50%;
}

.next_video_icon{
  font-family: 'TW Cen MT';
  font-size: 11px;
  color: rgb(0,112, 162);
  line-height: 22px;
  width: 50%;
  text-align: right;
}

.next_video_name{
  font-family: 'TW Cen MT';
  font-size: 15px;
  color: rgb(210, 210, 230);
  line-height: 27px;
  width: 70%;
}

.next_video_duration{
  font-family: 'TW Cen MT';
  font-size: 15px;
  color: rgb(210, 210, 230);
  line-height: 27px;
  width: 30%;
  text-align: right;
}

.play-next{
  height: 70px;
  background: rgb(217,217,217) !important;
  padding: 15px;
}

.play-next-btn{
  font-family: 'TW Cen MT';
  color: #fff;
  background: rgb(117,117,117);
  border-radius: 20px;
  height: 35px;
  width: 100%;
  text-align: center;
  font-size: 19px;
  line-height: 35px;
}

.question-controls.hide,
.video-controls.hide{
  display: none;
}

.question-controls.show,
.video-controls.show{
  display: flex;
}


.question__container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25px;
  background-color: transparent;
}

.question__name{
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(64,96,50);
  color: white;
  font-family: 'Eras Medium ITC';
  padding: 10px;
}

.question__options{
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}

.question__option_item{
  flex-grow: 1;
  border-radius: 5px;
  background: rgb(132, 60, 12);
  border: 1px solid rgb(192,0,0);
  color: white;
  font-family: 'Eras Medium ITC';
  padding: 10px;
  margin: 0 5px;
}

.loading {
  display: inline-block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.track_ur_progress_header{
  font-family: 'Eras Medium ITC';
  font-size: 11px;
  padding-left: 7px;
  margin: 5px 25px;
  color: rgb(74,102,138);
}

.track_ur_progress_header.videos{
  color: rgb(255,235,200);
}

.new-progress-list{
  border-radius: 3px;
  background-color: rgb(245,245,245);
  margin-top: 5px;
  padding: 10px;
  color: black;
  position: relative;
}

.new-progress-list-completion{
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'TW Cen MT';
  color: rgb(112,173,71);
}

.new-progress-list-module{
  font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.new-progress-list-chapter{
  font-size: 13px;
    line-height: 18px;
    color: rgb(120,100,120);
}

.overall_progress{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.overall_progress_part1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overall_progress_title{
  font-family: 'Eras Medium ITC';
  font-size: 13px;
  color: rgb(100,120,100);
}

.overall_progress_pc{
  font-size: 13px;
  font-family: 'TW Cen MT';
  font-weight: bold;
  color: rgb(112,173,71);
}

.overall_progress_part2{
  border-radius: 3px;
  width: 100%;
  height: 5px;
  margin: 3px 0;
  background-color: rgb(226,240,217);
}
.overall_progress_progress{
  width: 45%;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(112,173,71);
}